<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="header :: copy"></head>

    <body>
        <h1>Route</h1>

        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd th:text="${route.id}">number</dd>
            <dt>E-mail</dt>
            <dd th:text="${route.addressFrom}">number</dd>
            <dt>Password</dt>
            <dd th:text="${route.addressTo}">number</dd>
        </dl>

        <div th:replace="footer :: copy"></div>
    </body>
</html>
